/*********************************************************************/
/*********************************************************************/
.box {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.medSoc{
    width: 5vw;
    height: auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.corp{
    margin-left: 8vw;
    margin-right: 8vw;
}

@media only screen and (min-width: 250px) and (max-width:800px) {
    .medSoc {
        width: 5vw;
        height: auto;
    }
}

/*********************************************************************/
/*********************************************************************/