@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Montserrat-Regular', sans-serif;
}

nav ul{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

nav li{
    display: inline-block;
    text-align: center;
}

nav a{
    text-decoration: none;
    display: block;
    color: black;
}