@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Montserrat-Regular', sans-serif;
}

.box {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: blue;
    border-bottom: 1vh solid blue;
}

.corp{
    margin-top: auto;
}

.titre{
    margin-top: 10vh;
}

main{
    margin-left: 12vw;
    margin-right: 12vw;
}